.bread {
    list-style: none;
    display: flex;
    gap: 15px;
}
.bread a{
    color: #0b56ea;
    text-decoration: none;
}
.bread a:hover{
    text-decoration: underline;
}
.bread span{
    color: #333;
}
.bread a::after{
    margin: 10px;
    content: '>';
    color: #333;
}
.checkbox-form {
    max-width: 800px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.checkbox-item {
    display: flex;
    align-items: center;
    gap: 10px;
    font-size: 20px;
}

.checkbox-item input {
    appearance: none;
    width: 30px;
    height: 30px;
    border: 2px solid #70869a;
    border-radius: 6px;
}

.checkbox-item input:checked::before {
    content: "✔";
    font-size: 20px;
    margin-left: 4px;
}

@media (max-width: 600px) {
    .checkbox-form {
        grid-template-columns: 1fr;
    }
}

.progress {
    width: 330px;
    height: 30px;
    border: 2px solid #000000;
    background-color: white;
}

.progress-line {
    width: 30px;
    height: 30px; 
    background-color: rgb(244, 2, 2);
    animation: progress 2s infinite;
}

@keyframes progress {
  0%, 10% {width: 0%;}
  10%, 20% {width: 10%;}
  20%, 30% {width: 20%;}
  30%, 40% {width: 30%;}
  40%, 50% {width: 40%;}
  50%, 60% {width: 50%;}
  60%, 70% {width: 60%;}
  70%, 80% {width: 70%;}
  80%, 90% {width: 80%;}
  90%, 100% {width: 90%;}
  100% {width: 100%;}
}