.bread {
    list-style: none;
    display: flex;
    gap: 15px;
}
.bread a{
    color: #0b56ea;
    text-decoration: none;
}
.bread a:hover{
    text-decoration: underline;
}
.bread span{
    color: #333;
}
.bread a::after{
    margin: 10px;
    content: '>';
    color: #333;
}
.checkbox-form {
    max-width: 800px;
    background-color: #ffffff;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
}


@media (max-width: 600px) {
    .checkbox-form {
        grid-template-columns: 1fr;
    }
}