*{
    margin: 0;
    padding: 0;
}

.container{
    max-width: 100%;
    min-width: 320px;
}

.wrap{
    max-width: 1170px;
    padding: 0 15px;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
}

.visually-hidden{
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    overflow: hidden;
}