.header{
    background: url(../../img/bg.png) center no-repeat;
    background-size: cover;
    position: relative;
}

.header__wrap{
    position: relative;
    z-index: 2;
    height: 100vh;
}

.header__nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 0;
}

.nav__list{
    display: flex;
    gap: 20px;
    list-style: none;
}